@uniswap:registry=https://registry.npmjs.org
registry=https://registry.npmjs.org/

# Enforce npm version specified in package.json engines field
# This will prevent npm install if the npm version doesn't match
engine-strict=true
