DATABASE_URL=postgresql://user:password@host/database?sslmode=require
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
SESSION_SECRET=  # 32+ character random string
NEXT_PUBLIC_APP_URL=http://localhost:3001
